<!DOCTYPE html>
<html>
  <head>
    <title>40272321</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <img src="Header Image.png" class="cntrimg">

    <div class="nav">
      <a href="Homepage.html">Home</a>
      <div class="drpdwn">
        <button class="drpbtn">Social Media</button>
        <div class="drpdwn-cntnt">
          <a href="https://twitter.com/Connorrness">Twitter</a>
          <a href="http://connorrness.tumblr.com/">Tumblr</a>
          <a href="https://www.instagram.com/connorrness/">Instagram</a>
        </div>
      </div>
    </div>

    
